<div class="heading mb-4">
	<h1 class="font-bold text-3xl">Update Milestone</h1>
</div>
<div class="bg-white rounded-border w-full p-4">
	<form [formGroup]="milestoneForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
		<div class="flex flex-col gap-2">
			<label for="name" class="font-bold">Name<span class="text-red-600">*</span></label>
			<input id="name" type="text" pInputText formControlName="name" class="w-full md:w-72 lg:w-96" placeholder="Enter milestone name">
			<div class="text-red-600 mt-2" *ngIf="milestoneForm.get('name')?.invalid && milestoneForm.get('name')?.touched">
				Name is required
			</div>
		</div>
	  
		<div class="flex flex-col gap-2">
			<label for="weightage" class="font-bold">Weightage<span class="text-red-600">*</span></label>
			<p-inputNumber id="weightage" 
				formControlName="weightage" 
				[minFractionDigits]="2" 
				[maxFractionDigits]="2"
				class="w-full md:w-72 lg:w-96"
			></p-inputNumber>
			<div class="text-red-600 mt-2" *ngIf="milestoneForm.get('weightage')?.invalid && milestoneForm.get('weightage')?.touched">
				<span *ngIf="milestoneForm.get('weightage')?.errors?.['required']">Weightage is required</span>
				<span *ngIf="milestoneForm.get('weightage')?.errors?.['min']">Weightage must be positive</span>
			</div>
		</div>
	  
		<div class="flex flex-col gap-2">
			<label for="deadline" class="font-bold">Deadline<span class="text-red-600">*</span></label>
			<p-datepicker id="deadline" 
				formControlName="dead_line"
				[showTime]="true"
				[minDate]="minDate"
				dateFormat="yy-mm-dd"
				class="w-full md:w-72 lg:w-96"
				styleClass="w-full"
				[showIcon]="true"
			></p-datepicker>
			<div class="text-red-600 mt-2" *ngIf="milestoneForm.get('dead_line')?.invalid && milestoneForm.get('dead_line')?.touched">
				Valid future deadline is required
			</div>
		</div>
	  
		<div class="flex gap-2">
			<p-button type="button" severity="secondary" label="Back to Assignment" class="text-gray-400 rounded-md" [routerLink]="['/classrooms', classroomId(), 'assignments', assignmentId()]"></p-button>
			<p-button type="submit" label="Update Milestone" class="text-gray-400 rounded-md" [disabled]="milestoneForm.invalid">
		  </p-button>
		</div>
	  </form>
</div>