<div class="h-screen flex">
	<div class="hidden md:flex w-full bg-primary-700 items-center justify-center main_bg">
		<div class="w-4/5">
			<div class="flex items-center gap-1">
				<div class="w-20 h-20 rounded-xl flex justify-center items-center bg-white">
					<img src="assets/icon.png" alt="app icon" class="w-16 h-16">
				</div>
				<p class="font-black text-4xl text-white">GMWA</p>
			</div>
		</div>
		<a href="https://www.flaticon.com/free-icons/assignment" title="assignment icons" class="absolute bottom-0 left-0 text-black bg-white p-1">Assignment icons created by toempong - Flaticon</a>
	</div>
	<div class="w-full h-full flex justify-center bg-[#F6F7F7]">
		<div class="flex flex-col justify-center min-h-screen w-4/5 overflow-hidden p-2">
			<h1 class="font-semibold text-4xl mb-8">Log Into Your Account</h1>
			<form #form="ngForm" class="flex flex-col gap-6" (ngSubmit)="form.valid && login()">
				<div>
					<label for="email" class="font-bold text-base">Email<span class="text-red-600">*</span></label>
					<input 
						id="email" 
						type="email" 
						autocomplete="off"
						autofocus
						pInputText 
						placeholder="Email address here..." 
						[(ngModel)]="email" 
						name="email" 
						class="w-full rounded-md mt-[5px] border outline-none" 
						required
						#emailCtrl="ngModel"
						[disabled]="loading"
						pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
					/>
					<div *ngIf="emailCtrl.invalid && emailCtrl.dirty" class="text-red-600 mt-2">
						<span *ngIf="emailCtrl.errors?.required">Email is required</span>
      					<span *ngIf="emailCtrl.errors?.pattern">Enter a valid email address</span>
					</div>
				</div>
				<div>
					<label for="password" class="font-bold text-base">Password<span class="text-red-600">*</span></label>
					<p-password 
						id="password" 
						placeholder="Password here..." 
						[toggleMask]="true" 
						[(ngModel)]="password" 
						name="password" 
						styleClass="rounded-md w-full mt-[5px] border outline-none" 
						inputStyleClass="w-full" 
						[disabled]="loading"
						required 
						#passwordCtrl="ngModel"
						feedback="false"
						minlength="8"
					/>
					<div *ngIf="passwordCtrl.invalid && passwordCtrl.dirty" class="text-red-600 mt-2">
						<span *ngIf="passwordCtrl.errors?.required">Password is required</span>
						<span *ngIf="passwordCtrl.errors?.minlength">Password must be 8 characters minimum</span>
					</div>
				</div>
				<div>
					<p-checkbox 
						[(ngModel)]="rememberMe" 
						[binary]="true" 
						id="remember-me" 
						inputId="rm"
						class="w-full"
						name="rememberMe"
						[disabled]="loading"
					/>
					<label for="rm" class="font-bold text-base ml-2">Remember Me</label>
				</div>
				<div class="flex justify-between items-center">
					<p-button type="submit" label="Login" class="text-gray-400 rounded-md" [disabled]="form.invalid || loading"></p-button>
					<a routerLink="/auth/signup">
						<p class="font-normal cursor-pointer text-sm border-b border-black">Don't have an account? Signup</p>
					</a>
				</div>
				<div class="flex flex-col gap-2">
					<a routerLink="/auth/forgot-password" class="w-fit">
						<p class="font-normal cursor-pointer text-sm border-b border-black">Forgot your password?</p>
					</a>
					<a routerLink="/auth/confirmation" class="w-fit">
						<p class="font-normal cursor-pointer text-sm border-b border-black">Didn't receive confirmation instructions?</p>
					</a>
					<a routerLink="/auth/unlock" class="w-fit">
						<p class="font-normal cursor-pointer text-sm border-b border-black">Didn't receive unlock instructions?</p>
					</a>
				</div>
				<p-message *ngIf="message" [severity]="severity" text="{{ message }}" class="mt-4"></p-message>
			</form>
		</div>
	</div>
</div>
