<div class="heading mb-4">
	<h6 class="font-bold text-xl">Assignment Groups</h6>
</div>
<div class="bg-white rounded-border w-full">
	<div class="flex justify-between mb-4 md:flex-row flex-col gap-2">
		<app-search
			placeholder="Search milestones..."
			(search)="onSearch($event)"
		></app-search>
		<div class="flex gap-2">
			<p-button
				type="button"
				label="Add Group"
				icon="pi pi-plus"
				(onClick)="addGroup()"
				*ngIf="userRole === 'teacher'"
			></p-button>
		</div>
	</div>
	<app-table
		[cols]="tableColumns"
		[data]="tableData"
		[buttons]="buttons"
		[loading]="loading"
		[totalRecords]="totalRecords"
		[rows]="5"
		(pageChangeOutput)="onPageChange($event)"
	/>
</div>
<p-confirmDialog></p-confirmDialog>