<div class="grid grid-cols-12 gap-8">
	@for (card of dashboardCards; track $index) {
	<div class="col-span-12 lg:col-span-6 xl:col-span-4">
		<div class="card mb-0 h-full">
			@if (card.dataKey !== 'quickLinks') {
			<div class="flex justify-between mb-4">
				<div>
					<span class="block text-muted-color font-medium mb-4">
						{{ card.title }}
					</span>
					<div
						class="text-surface-900 dark:text-surface-0 font-medium text-xl"
					>
						{{ userData[card.dataKey] }}
					</div>
				</div>
				<div
					class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
					style="width: 2.5rem; height: 2.5rem"
				>
					<i class="text-blue-500 !text-xl" [ngClass]="card.icon"></i>
				</div>
			</div>
			} @else {
			<div class="flex flex-col mb-4">
				<div>
					<span class="block text-muted-color font-medium mb-4">
						{{ card.title }}
					</span>
				</div>
				<div>
					<ul>
						@if (userRole === 'teacher') {
						<li>
							<a
								routerLink="/invitation/new"
								class="font-normal cursor-pointer text-sm border-b border-black"
							>
								Invite New User(s)
							</a>
						</li>
						<li>
							<a
								routerLink="/classrooms/add"
								class="font-normal cursor-pointer text-sm border-b border-black"
							>
								Create New Classroom
							</a>
						</li>
						} @else {
						<li>
							<a
								routerLink="/invitation/new"
								class="font-normal cursor-pointer text-sm border-b border-black"
							>
								Invite New User(s)
							</a>
						</li>
						<li>
							<a
								routerLink="/registrations"
								class="font-normal cursor-pointer text-sm border-b border-black"
							>
								View Registrations
							</a>
						</li>
						}
					</ul>
				</div>
			</div>
			}
		</div>
	</div>
	}
	<div class="col-span-12 lg:col-span-4">
		<div class="card mb-0 h-full">
			<div class="flex flex-col gap-4">
				<h1 class="font-bold text-xl">Evaluation Method: WebAVALIA</h1>
				<p class="text-sm">
					WebAVALIA is a framework that allows teachers to evaluate
					their students' performance in a classroom. It has been
					designed for self and peer assessment between students in a
					group. The assessment can have multiple milestones and
					students assess their peers and themselves (if self
					assessment is enabled) for each milestone. Each milestone's
					self and peer assessment scores are weighted agains their
					pre determined weightage and put into a formula to calculate
					the final scores for each student.
				</p>
			</div>
		</div>
	</div>
	<div class="col-span-12 lg:col-span-4">
		<div class="card mb-0 h-full">
			<div class="flex flex-col gap-4">
				<h1 class="font-bold text-xl">
					Evaluation Method: Quasi-Arithmetic Scoring System
				</h1>
				<p class="text-sm">
					QASS is a math model that allows teachers to evaluate their
					students' performance in a classroom. It is useful for peer
					assessment. This model can only have one milestone. It
					calculates scores based on ratings and contributions
				</p>
			</div>
		</div>
	</div>
	<div class="col-span-12 lg:col-span-4">
		<div class="card mb-0 h-full">
			<div class="flex flex-col gap-4">
				<h1 class="font-bold text-xl">
					Flowchart
				</h1>
				<ng-container *ngIf="userRole === 'teacher'">
					<img src="assets/teacher.png" alt="Teacher flowchart">
				</ng-container>
				<ng-container *ngIf="userRole === 'student'">
					<img src="assets/student.png" alt="Student flowchart" class="h-[400px] object-contain">
				</ng-container>
			</div>
		</div>
	</div>
</div>
