/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use './assets/styles/layout.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.main_bg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../public/assets/main_bg.jpg");
}