<div class="heading mb-4">
	<h1 class="font-bold text-3xl">Classrooms</h1>
</div>
<div class="bg-white rounded-border w-full p-4">
	<div class="flex justify-between mb-4">
		<app-search placeholder="Search by name..." (search)="onSearch($event)"></app-search>
		<p-button type="button" label="Add Classroom" icon="pi pi-plus" class="text-gray-400 rounded-md" routerLink="/classrooms/add"></p-button>
	</div>
	<app-table 
		[cols]="tableColumns"
		[data]="tableData"
		[buttons]="buttons"
		[loading]="loading"
		[totalRecords]="totalRecords"
		(pageChangeOutput)="onPageChange($event)"
	/>
</div>

<p-confirmDialog></p-confirmDialog>